# Production environment values (Docker Hub)

app:
  replicaCount: 1
  image:
    repository: "mukhiddinov/agro-shop"
    tag: "f3bfc9a"
    pullPolicy: Always
  env:
    - name: FLASK_ENV
      value: "production"
    - name: DATABASE_URL
      value: "sqlite:////app/data/agro-prod.db"
  persistence:
    size: 5Gi
    storageClass: ""
  ingress:
    hosts:
      - host: agro-shop.local
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: agro-shop-prod-tls
        hosts:
          - agro-shop.local
# Monitoring stack in production
prometheus:
  enabled: true
  server:
    persistentVolume:
      size: 20Gi
    retention: "30d"
grafana:
  enabled: true
  persistence:
    size: 10Gi
loki:
  enabled: true
  persistence:
    size: 10Gi
promtail:
  enabled: true
# If you do NOT have Prometheus Operator CRDs, keep false
serviceMonitor:
  enabled: false
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80
pdb:
  enabled: true
  minAvailable: 2
networkPolicy:
  enabled: true
