apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: agro-shop
  namespace: argocd
  labels:
    app: agro-shop
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/Khuma77/DevOPS.git
    targetRevision: HEAD
    path: helm/agro-shop
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: app.image.tag
          value: "prod-latest"
        - name: app.ingress.hosts[0].host
          value: "agro-shop.local"
  destination:
    server: https://kubernetes.default.svc
    namespace: agro-shop
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  revisionHistoryLimit: 10