name: CI

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: write

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set image vars
        run: |
          echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
          if [ "${GITHUB_REF}" = "refs/heads/main" ]; then
            echo "IMAGE_NAMESPACE=${{ secrets.DOCKERHUB_USERNAME }}" >> $GITHUB_ENV
          else
            echo "IMAGE_NAMESPACE=${{ github.repository_owner }}" >> $GITHUB_ENV
          fi

      - uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          IMAGE_REPO=${IMAGE_NAMESPACE}/agro-shop
          docker build \
            -f Dockerfile.production \
            -t ${IMAGE_REPO}:latest \
            -t ${IMAGE_REPO}:${SHORT_SHA} \
            .

      - name: Push image
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: |
          IMAGE_REPO=${IMAGE_NAMESPACE}/agro-shop
          docker push ${IMAGE_REPO}:latest
          docker push ${IMAGE_REPO}:${SHORT_SHA}

  update-manifests:
    needs: build-push
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push' && github.actor != 'github-actions'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Set SHORT_SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Install yq
        uses: mikefarah/yq@v4.44.3

      - name: Update Helm values (prod)
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          TAG: ${{ env.SHORT_SHA }}
        run: |
          set -euo pipefail
          values="helm/agro-shop/values-prod.yaml"
          [ -f "$values" ] || exit 0

          echo "Updating $values -> app.image.repository=${DOCKERHUB_USERNAME}/agro-shop , app.image.tag=${TAG}"
          yq -i '.app.image.repository = strenv(DOCKERHUB_USERNAME) + "/agro-shop"' "$values"
          yq -i '.app.image.tag = strenv(TAG)' "$values"

      - name: Commit and push
        run: |
          set -euo pipefail
          git config user.name "github-actions"
          git config user.email "github-actions@users.noreply.github.com"

          git add helm/agro-shop/values-prod.yaml
          git diff --cached --quiet && { echo "No changes to commit"; exit 0; }

          git commit -m "chore(gitops): deploy ${GITHUB_SHA} [skip ci]"
          git push
