name: CI

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write
  packages: write


jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set SHORT_SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Login to Docker Hub
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build image
        run: |
          docker build \
            -f Dockerfile.production \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/agro-shop:latest \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/agro-shop:${SHORT_SHA} \
            .

      - name: Push image
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/agro-shop:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/agro-shop:${SHORT_SHA}

  update-manifests:
    runs-on: ubuntu-latest
    needs: build-push
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Set SHORT_SHA
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Install yq
        run: |
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq

      - name: Update Helm values
        run: |
          yq -i '.app.image.repository = "'"${{ secrets.DOCKERHUB_USERNAME }}"'/agro-shop"' helm/agro-shop/values-prod.yaml
          yq -i '.app.image.tag = env(SHORT_SHA)' helm/agro-shop/values-prod.yaml

      - name: Commit and push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add helm/agro-shop/values-prod.yaml
          git commit -m "chore(gitops): deploy ${GITHUB_SHA}" || echo "No changes to commit"
          git push
